In [1]:
import pandas as pd
import warnings
from sklearn.linear_model import Ridge

In [2]:
air_quality_dat = pd.read_csv("fetched_data/AIR_QUALITY_DATA.csv")

paris_agreement_dat = pd.read_csv("fetched_data/PARIS_AGREEMENT_DATA.csv")

greenhouse_gas_dat = pd.read_csv("fetched_data/GHG_DATA.csv")

In [41]:
merged_data = air_quality_dat.merge(paris_agreement_dat, how = "left", on = "Country_Name").merge(greenhouse_gas_dat, how = "left", left_on = ["Country_Name"], right_on = ["Country"])

In [5]:
simplified_data = merged_data[["Country_Name", "NO2", "GHG_Emissions", "Unnamed: 0_x"]]

In [6]:
simplified_data = simplified_data.rename(columns={"Unnamed: 0_x":"Paris_Index"})

In [16]:
warnings.filterwarnings('ignore')
simplified_data["Paris_Index"].loc[~simplified_data["Paris_Index"].isnull()] = 1
simplified_data["Paris_Index"].loc[simplified_data["Paris_Index"].isnull()] = 0

## Initially I thought that only small cities would be missing values, 
# however there seems to be larger cities with missing NO2/GHG values as well 
# so we will go with median imputation. Limitations of this method should be noted
simplified_data['NO2'] = simplified_data.groupby("Country_Name")['NO2'].transform(lambda x: x.fillna(x.median()))
simplified_data['GHG_Emissions'] = simplified_data.groupby("Country_Name")['GHG_Emissions'].transform(lambda x: x.fillna(x.median()))

In [23]:
# Group by 'Country' column
simplified_data_grouped = simplified_data.groupby('Country_Name')

# Drop rows where all NO2 values are null within each country group
simplified_data_minimal = simplified_data_grouped.filter(lambda x: x['NO2'].notna().any())

In [25]:
aggregated_data = simplified_data_minimal.groupby(['Country_Name',"GHG_Emissions","Paris_Index"]).sum().reset_index()

In [42]:
aggregated_data

,Country_Name,GHG_Emissions,Paris_Index,NO2
0,Argentina ...,8.465010,1,17.00
1,Australia ...,24.130798,1,30.50
2,Austria ...,9.466312,1,2011.84
3,Bangladesh ...,1.676438,1,263.00
4,Belgium ...,10.862293,1,1197.60
5,Bosnia and Herzegovina ...,9.133521,1,194.50
6,Brazil ...,6.046190,1,670.63
7,Bulgaria ...,8.824700,1,488.10
8,Canada ...,21.314508,1,2056.50
9,Costa Rica ...,3.349035,1,205.00
10,Croatia ...,6.060125,1,308.20
11,Cyprus ...,7.943857,1,76.80
12,Czech Republic ...,12.398071,1,1421.70
13,Denmark ...,8.685245,1,108.60
14,Ecuador ...,4.228564,1,24.00
15,Estonia ...,20.372045,1,45.30
16,Finland ...,12.270376,1,359.57
17,Germany ...,10.506118,1,8052.00
18,Greece ...,7.826041,1,503.00
19,Hungary ...,7.382321,1,355.70
20,Iceland ...,13.430886,1,54.50
21,India ...,2.772880,1,7885.40
22,Iran (Islamic Republic of) ...,11.593808,1,1548.00
23,Iraq ...,8.828776,1,121.50
24,Ireland ...,13.243463,1,189.70
25,Japan ...,9.953937,1,294.50
26,Jordan ...,3.509699,1,83.00
27,Latvia ...,6.411162,1,70.00
28,Lithuania ...,7.921055,1,165.30
29,Luxembourg ...,17.693842,1,210.00
30,Malta ...,4.698608,1,126.60
31,Mexico ...,5.971417,1,2123.00
32,Morocco ...,2.885519,1,68.40
33,Netherlands ...,11.696163,1,1085.00
34,North Macedonia ...,4.965580,1,195.00
35,Norway ...,13.580559,1,701.27
36,Pakistan ...,2.542450,1,29.00
37,Peru ...,2.969888,1,104.00
38,Poland ...,10.789081,1,3090.10
39,Portugal ...,6.636303,1,890.30
40,Qatar ...,70.743359,1,47.00
41,Republic of Korea ...,14.663700,1,582.00
42,Romania ...,6.245605,1,1835.90
43,Senegal ...,1.635554,1,16.00
44,Singapore ...,11.831544,1,26.00
45,Slovakia ...,8.584959,1,580.10
46,Slovenia ...,9.581860,1,267.20
47,South Africa ...,10.554100,1,361.20
48,Sweden ...,6.346528,1,795.80
49,Trinidad and Tobago ...,37.323667,1,13.10
50,Turkey ...,7.371632,1,3094.10
51,United Arab Emirates ...,26.564422,1,198.00
52,United Kingdom ...,6.969538,1,2330.90

In [40]:

X = aggregated_data[["GHG_Emissions", "Paris_Index"]]
y = aggregated_data[["NO2"]]

result = sm.OLS(y, X).fit()
 
# printing the summary table
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    NO2   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                 -0.006
Method:                 Least Squares   F-statistic:                    0.6701
Date:                Mon, 18 Mar 2024   Prob (F-statistic):              0.417
Time:                        09:57:06   Log-Likelihood:                -466.07
No. Observations:                  53   AIC:                             936.1
Df Residuals:                      51   BIC:                             940.1
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
GHG_Emissions   -17.3327     21.173     -0.819      0.417     -59.839      25.174
Paris_Index    1087.7277    322.265      3.375      0.001     440.753    1734.702
==============================================================================
Omnibus:                       61.867   Durbin-Watson:                   2.118
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              369.947
Skew:                           3.247   Prob(JB):                     4.65e-81
Kurtosis:                      14.196   Cond. No.                         22.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.