In [4]:
import oracledb
import pandas as pd

In [5]:
# Connect to Jade's oracle account, code adapted from lecture materials
dsn = oracledb.makedsn("localhost", 1522, service_name="stu")
connection = oracledb.connect(user="jbouch03", password="a50707827", dsn=dsn)
cursor = connection.cursor()

DatabaseError: ORA-01017: invalid username/password; logon denied
Help: https://docs.oracle.com/error-help/db/ora-01017/

In [3]:
# Create csv file for Country table
df_Country= pd.DataFrame(columns=['Country_Name', 'WHO_Region', 'ISO_CHAR'])

#adds each row to the dataframe created above
index=0
for row in cursor.execute("select * from COUNTRY"):
    index=index+1
    row2= [row[0], row[1], row[2]]
    df_Country.loc[index]= row2
df_Country.to_csv("fetched_data/COUNTRY_DATA.csv", index = False)

In [42]:
# Create csv file for City table
df_City= pd.DataFrame(columns=['City_Name', 'Country_Name'])

#adds each row to the dataframe created above
index=0
for row in cursor.execute("select * from CITY"):
    index=index+1
    row2= [row[0], row[1]]
    df_City.loc[index]= row2
df_City.to_csv("fetched_data/CITY_DATA.csv", index = False)

In [28]:
# Create csv file for Air_Quality_Measures table
data_from_oracle = []

# Assuming cursor.execute() fetches data from the database
# concatenates all rows and puts into a dataframe
for row in cursor.execute("select * from Air_Quality_Measures"):
    row2 = [row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]]
    data_from_oracle.append(row2)

df_Air_Quality = pd.DataFrame(data_from_oracle, columns=['ID','Year','City_Name','Country_Name', 'NO2', 'PM10','PM25','NO2_TEMPORAL_COVERAGE','PM25_TEMPORAL_COVERAGE','PM10_TEMPORAL_COVERAGE'])

# Dropping columns with all NA values
df_Air_Quality = df_Air_Quality.dropna(axis=1, how='all')
df_Air_Quality.to_csv("fetched_data/AIR_QUALITY_DATA.csv", index=False)

In [6]:
# Connect to Neha's oracle account, code adapted from lecture materials
dsn = oracledb.makedsn("localhost", 1522, service_name="stu")
connection = oracledb.connect(user="ora_nmenon04", password="a23966450", dsn=dsn)
cursor = connection.cursor()

In [7]:
# Create csv file for Paris_Agreement_Member table
df_ParisAgreement_Member= pd.DataFrame(columns=['Country_Name', 'Date_Joined'])

#adds each row to the dataframe created above
index=0
for row in cursor.execute("select * from Paris_Agreement_Member"):
    index=index+1
    row2= [row[0], row[1]]
    df_ParisAgreement_Member.loc[index]= row2
df_ParisAgreement_Member.to_csv("fetched_data/PARIS_AGREEMENT_DATA.csv", index = False)

In [8]:
# Create csv file for Climate_Risk_Index table
df_CRI= pd.DataFrame(columns=['ID', 'Country_Name', 'CRI_RANK', 'CRI_SCORE', 'Fatalities_Rank', 'Fatalities_per_100000_inhabitants_RANK', 'Losses_in_US_Million_Rank',
                             'Losses_per_unit_GDP_Rank'])

#adds each row to the dataframe created above
index=0
for row in cursor.execute("select * from Climate_Risk_Index"):
    index=index+1
    row2= [row[0], row[1],row[2], row[3], row[4], row[5], row[6], row[7]]
    df_CRI.loc[index]= row2
df_CRI.to_csv("fetched_data/CRI.csv", index = False)

In [9]:
# Create csv file for Greenhouse_Gasses table
df_GHG= pd.DataFrame(columns=['Country', 'GHG_Emissions'])

#adds each row to the dataframe created above
index=0
for row in cursor.execute("select * from Greenhouse_Gasses"):
    index=index+1
    row2= [row[0], row[1]]
    df_GHG.loc[index]= row2
df_GHG.to_csv("fetched_data/GHG_DATA.csv", index = False)