In [1]:
import pandas as pd

gci = pd.read_csv("data/CPSC368 DATA - Global Climate Index OLD.csv")

In [2]:
gci.head()

,CRI Rank,Country,CRI score,Fatalities in 2018 (Rank),Fatalities per 100 000 inhabitants (Rank),Losses in million US$ (PPP) (Rank),Losses per unit GDP in % (Rank)
0,125,Albania,108.00,102,87,124,124
1,109,Algeria,93.83,47,76,110,127
2,80,Angola,76.00,52,72,82,89
3,135,Antigua-and-Barbuda,125.00,115,115,135,135
4,40,Argentina,48.33,61,101,5,11

In [3]:
gci["ID"] = range(1, len(gci) + 1)
gci = pd.concat([gci["ID"], gci.drop(columns = ["ID"])], axis = 1)
gci.head()

,ID,CRI Rank,Country,CRI score,Fatalities in 2018 (Rank),Fatalities per 100 000 inhabitants (Rank),Losses in million US$ (PPP) (Rank),Losses per unit GDP in % (Rank)
0,1,125,Albania,108.00,102,87,124,124
1,2,109,Algeria,93.83,47,76,110,127
2,3,80,Angola,76.00,52,72,82,89
3,4,135,Antigua-and-Barbuda,125.00,115,115,135,135
4,5,40,Argentina,48.33,61,101,5,11

In [4]:
gci.to_csv("data/CPSC368 DATA - Global Climate Index.csv", index = False)