In [1]:
import pandas as pd
import warnings
from sklearn.linear_model import Ridge

In [2]:
air_quality_dat = pd.read_csv("fetched_data/AIR_QUALITY_DATA.csv")

paris_agreement_dat = pd.read_csv("fetched_data/PARIS_AGREEMENT_DATA.csv")

greenhouse_gas_dat = pd.read_csv("fetched_data/GHG_DATA.csv")

In [3]:
air_quality_dat[air_quality_dat["Country_Name"] == "Andorra"]

Empty DataFrame
Columns: [ID, Year, City_Name, Country_Name, NO2, PM10, PM25, NO2_TEMPORAL_COVERAGE, PM25_TEMPORAL_COVERAGE, PM10_TEMPORAL_COVERAGE]
Index: []

In [12]:
merged_data = air_quality_dat.merge(paris_agreement_dat, how = "left", on = "Country_Name").merge(greenhouse_gas_dat, how = "left", left_on = ["Country_Name"], right_on = ["Country"])
merged_data.tail()

,ID,Year,City_Name,Country_Name,NO2,PM10,PM25,NO2_TEMPORAL_COVERAGE,PM25_TEMPORAL_COVERAGE,PM10_TEMPORAL_COVERAGE,Unnamed: 0_x,Date_Joined,Unnamed: 0_y,Country,GHG_Emissions
5027,32063,2018,City Of Johannesburg ...,South Africa ...,36.0,42.0,23.0,75.0,75.0,75.0,161,2016-04-22,107.0,South Africa ...,10.5541
5028,32070,2018,City Of Tshwane ...,South Africa ...,27.0,56.0,31.0,75.0,75.0,75.0,161,2016-04-22,107.0,South Africa ...,10.5541
5029,32075,2018,Dr Kenneth Kaunda ...,South Africa ...,NaN,45.0,NaN,75.0,75.0,75.0,161,2016-04-22,107.0,South Africa ...,10.5541
5030,32098,2018,Fezile Dabi ...,South Africa ...,NaN,NaN,32.0,75.0,75.0,75.0,161,2016-04-22,107.0,South Africa ...,10.5541
5031,32110,2018,Gert Sibande ...,South Africa ...,19.0,42.0,17.0,75.0,75.0,75.0,161,2016-04-22,107.0,South Africa ...,10.5541

In [5]:
simplified_data = merged_data[["Country_Name", "NO2", "GHG_Emissions", "Unnamed: 0_x"]]

In [6]:
simplified_data = simplified_data.rename(columns={"Unnamed: 0_x":"Paris_Index"})

In [16]:
warnings.filterwarnings('ignore')
simplified_data["Paris_Index"].loc[~simplified_data["Paris_Index"].isnull()] = 1
simplified_data["Paris_Index"].loc[simplified_data["Paris_Index"].isnull()] = 0

## Initially I thought that only small cities would be missing values, 
# however there seems to be larger cities with missing NO2/GHG values as well 
# so we will go with median imputation. Limitations of this method should be noted
simplified_data['NO2'] = simplified_data.groupby("Country_Name")['NO2'].transform(lambda x: x.fillna(x.median()))
simplified_data['GHG_Emissions'] = simplified_data.groupby("Country_Name")['GHG_Emissions'].transform(lambda x: x.fillna(x.median()))

In [23]:
# Group by 'Country' column
simplified_data_grouped = simplified_data.groupby('Country_Name')

# Drop rows where all NO2 values are null within each country group
simplified_data_minimal = simplified_data_grouped.filter(lambda x: x['NO2'].notna().any())

In [25]:
aggregated_data = simplified_data_minimal.groupby(['Country_Name',"GHG_Emissions","Paris_Index"]).sum().reset_index()

In [33]:
X = aggregated_data[["GHG_Emissions", "Paris_Index"]]
y = aggregated_data[["NO2"]]
ridge = Ridge(alpha=1.0, random_state=123)
ridge.fit(X, y)
coef_ridge = ridge.coef_

ValueError: shapes (53,2) and (1,3) not aligned: 2 (dim 1) != 1 (dim 0)